*
{
    font-family :monospace;
    color : gray;
}
html
{
    height : 100%;
}
body
{
    margin : 0;
    padding: 0;
    display : flex;
    flex-direction : row;
    height : 100%;
    overflow : hidden;
}
aside
{
    width : 20%;
    flex-grow : 0;
    background-color: #f2f2f2;
    align-items: stretch;
    box-shadow : 0px 0px 5px rgba(0,0,0,0.5);
    position : relative;
    z-index : 3;
    overflow-y: scroll;
}
aside .tool
{
    padding : 5px;
    margin : 5px;
    display : flex;
    align-items: center;
    background-color : #FFF;
    transition : all 0.1s linear;
    border-radius : 3px;
    box-shadow : 0px 1px 3px rgba(0,0,0,0.5);
    cursor : pointer;

}
aside .tool:hover
{
    box-shadow : 0px 3px 7px rgba(0,0,0,0.5);
}
.tool img
{
    max-width : 50px;
    margin-right : 10px;
}
#container
{
    flex-grow : 1;
}
h1
{
    text-align: center;
}
.info
{
    text-align : center;
    margin : 5px;
    font-style: italic;
}
.blocEditor
{
    margin : 10px;
}